<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SHTS University - {{ title ? title : '' }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('assets/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Plugin styles -->
        <link href="{{ asset('assets/datatables/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{{ asset('assets/css/sb-admin-2.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {% block styles %}{% endblock %}
    </head>

    <body>
        
        <div class="content">

            {% include "dashboard/header.html.twig" %}

            <div id="page-wrapper">
                {% block content %}{% endblock %}
            </div>
            
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/metisMenu/metisMenu.min.js') }}"></script>
        <script src="{{ asset('assets/js/sb-admin-2.min.js') }}"></script>
    
        <!-- DataTables JavaScript -->
        <script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/datatables/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

        <!-- Plugin scripts -->
        {% block scripts %}{% endblock %}
        
        <script>
        $(document).ready(function() {
            if ($('table').length > 0) {
                $('table').DataTable({
                    responsive: true,
                    "pageLength": 250
                });
            }
            
            if ($('.btn-delete').length > 0) {
                $('.btn-delete').on('click', function() {
                    var id = $(this).data('id');
                    
                    if (confirm("Are you sure you want to delete the selected user?") === true) {
                        $.post('{{ path('user.delete') }}', { id: id }, function(result) {
                            if (result.message !== undefined) {
                                alert(result.message);
                                $('.row-'+id).remove();
                            } else if (result.error !== undefined) {
                                alert(result.error);
                            }
                        });
                    }
                });
            }
        });
        </script>
    </body>

</html>
